div[is=sliding-menu].expand {
    position: fixed;
    top: 0;
    left: 0;
    min-width: fit-content;
    bottom:0;
    background-color: #ededdf;
    padding:10px;
}

div[is=sliding-menu].expand>* {
    width: 100%;
    padding: 10px;
    display: block;
    border-bottom: 1px solid gray;
    text-transform: capitalize;
    font-size: 17px;
}

div[is=sliding-menu].expand>div[is=menu-name] {
    font-size: 30px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    border-bottom:  3px solid gray;
}

div[is=sliding-menu].collapse {
    width: 20px;
}

div[is=sliding-menu].collapse>* {
    display: none;
}

div[is=sliding-menu].collapse>div[is=menu-name] {
    transform: rotate(90deg) translate(3px, 3px);
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px 5px;
    white-space: nowrap;

}

button[is=command-button]{
    all: unset;
}

div[is=sliding-menu],  div[is=menu-name], button[is=command-button]{
    box-sizing: border-box;
}
div[is=sliding-menu]{
    display: block;
}

div[is=menu-name]{
    display: block;
}

.hide{
    display: none;
}